doctype html
html
  head
    title= title
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-md
      .container
        a.navbar-brand(href='/') ExpressShop
        .mobile-nav.container
          a.nav-link.mobile-nav-link(href='/') Home 
          a.nav-link.mobile-nav-link(href='/expresses') Coffee Machines
          a.nav-link.mobile-nav-link(href='/special-offers') Special Offers
          a.nav-link.mobile-nav-link(href='/services') Services
          a.nav-link.mobile-nav-link(href='/contact') Contact
    block content
