:root {
  --main-red: #fe4323;
  --main-gray: #e0e5eb;
  --alt-red: #ff6347;
}

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--main-red);
}

.navbar {
  background-color: var(--main-gray);
  min-height: 80px;
}

.navbar-brand {
  font-weight: 800;
  margin-right: 50px;
  color: var(--main-red);
}

.navbar-brand:hover {
  color: black;
}

.nav-item a {
  color: black;
}

.nav-item a:hover {
  color: var(--main-red);
}

/* ANIMATIONS */
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
  .mobile-nav {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .home-section-buttons {
    flex-direction: column;
  }
  .button-main,
  .button-secondary {
    margin: 10px 0;
  }
}

/* FOOTER */
.footer-main {
  height: 15vh;
  background: var(--main-red);
  position: relative;
  color: var(--main-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  width: auto;
  margin: 0 auto;
  z-index: 3;
}

.footer-logo {
  position: absolute;
  color: var(--alt-red);
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 30px;
  pointer-events: none;
}

/* MOBILE NAV */
.mobile-nav {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
}

.mobile-nav-link {
  color: var(--main-red);
}

@media screen and (max-width: 992px) {
  .mobile-nav {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

/* HOME PAGE */

.heading-section {
  width: 100%;
  height: calc(100vh - 97px);
  position: relative;
}

.heading-section img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-text {
  position: absolute;
  left: 10%;
  top: 10%;
  color: var(--main-red);
}

.home-section {
  height: 50vh;
  width: 100%;
}

.home-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-gray);
  height: 60%;
  width: 100%;
  margin: 0 auto 100px auto;
  color: var(--main-red);
}

.home-section-text h3 {
  font-size: 32px;
  font-weight: 800;
}

.home-section-buttons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.button-main,
.button-secondary {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.button-main {
  background: var(--main-red);
  color: var(--main-gray);
}

.button-secondary {
  border: var(--main-red) 1px solid;
  color: var(--main-red);
}

.card {
  background: var(--main-gray);
  margin-bottom: 100px;
  border: none;
  min-height: 350px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.card-title {
  color: var(--main-red);
}

.card-link {
  color: var(--main-gray);
  position: relative;
  font-weight: 600;
  width: auto;
  height: auto;
  padding: 10px;
  background: var(--main-red);
  border-radius: 10px;
}

.card-link:hover {
  color: var(--main-red);
  background: black;
}

/* SPECIAL OFFERS */

.special-item {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: var(--main-gray) 1px solid;
}

.special-heading {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-img {
  height: 100%;
  margin-left: 20px;
}

.item-img img {
  height: 100%;
  width: auto;
}

.item-details {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.item-button {
  padding: 10px;
  background-color: var(--main-red);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* EXPRESSES */

form label {
  margin-right: 10px;
}

.selected {
  background: var(--main-gray);
}

/* SERVICES */

.services {
  height: calc(100vh - 220px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* CONTACT */

.contact {
  height: calc(100vh - 80px);
}

.map-header {
  color: var(--main-red);
}

.map {
  width: 70%;
  height: auto;
}